.form-container {
  box-sizing: border-box;
  max-width: 408px;
  max-height: 296px;
  padding: 24px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.feedback-form-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  margin-bottom: 8px;
}

.feedback-form-input {
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 1);
}

.feedback-form-input:hover {
  border-color: rgba(0, 0, 0, 1);
}

.feedback-form-input:focus {
  border: 1px solid rgba(128, 128, 128, 1);
  outline: none;
}

.feedback-form textarea {
  resize: none;
  height: 80px;
  margin-bottom: 8px;
}

.feedback-form button {
  align-self: start;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: rgba(78, 117, 255, 1);
  color: white;
  border-radius: 8px;
  font-weight: bold;
  border: none;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background-color: rgba(108, 140, 255, 1);
}
